In [7]:
import pandas as pd
from myUtils import pickle_load
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 30)
pd.set_option('display.max_colwidth', 16)
pd.set_option('display.width', 790)

path_dir = "C:/Users/ping/MyDrive/stocks/yfinance/"
path_data_dump = path_dir + "VSCode_dump/"

fp_df_picks  = f'df_picks'

In [8]:
df = pickle_load(path_data_dump, fp_df_picks)

In [9]:
df

  date_end_df_train  max_days_lookbacks   days_lookbacks sym_freq_15 sym_freq_14 sym_freq_13 sym_freq_12 sym_freq_11 sym_freq_10 sym_freq_9       sym_freq_8       sym_freq_7       sym_freq_6       sym_freq_5       sym_freq_4       sym_freq_3 sym_freq_2
0       2023-03-14               120       [30, 60, 120]          []          []          []          []          []          []   ['FTSM']               []               []  ['ELF', 'SGE...  ['ACLS', 'AM...  ['HY', 'LNTH...  ['ACGL', 'AT...         []
1       2023-03-14               120     [15, 30, 60,...          []          []          []          []    ['FTSM']          []   ['SGEN']          ['FCN']  ['AMPH', 'GE...  ['ELF', 'NTR...  ['ACLS', 'AN...  ['MCFT', 'ML...               []         []
2       2023-03-15               120     [15, 30, 60,...          []          []          []          []    ['FTSM']          []   ['SGEN']  ['AMPH', 'FCN']  ['GE', 'HY',...  ['CTLT', 'EL...  ['ACLS', 'AN...               []               []         []
3       2023-03-15               120       [30, 60, 120]          []          []          []          []          []          []   ['FTSM']               []               []  ['CTLT', 'EL...  ['ACLS', 'AM...  ['ATCO', 'HY...  ['AJRD', 'AT...         []