In [1]:
import yfinance as yf
from myUtils import read_symbols_file, yf_print_symbol_data, yf_candlestick, pickle_load
path_dir = "C:/Users/ping/Desktop/my_yfinance/"
path_data_dump = path_dir + "VSCode_dump/"
path_symbols_file = path_dir + "source/"

In [ ]:
# # filename_symbols = path_symbols_file + "test_symbols_no_XOM.txt"  # symbols text file
# filename_symbols = path_symbols_file + "syms.txt"  # symbols text file
# symbols_in_file = read_symbols_file(filename_symbols)
# symbols = symbols_in_file

In [ ]:
# symbols

In [ ]:
# https://superuser.com/questions/1434198/python-how-to-put-double-quotes-for-values-in-a-list
input_str = '[INSW,STNG,TPL]'
'['+','.join(['"'+x+'"' for x in input_str[1:-1].split(',')])+']'

In [2]:
# # # use to over-ride symbols
# symbols = ["EQNR","ARLP","OXY","VET","NFE","LNTH","CF","INSW","STNG","TPL"]
symbols = ["ARLP"]

In [ ]:
# # symbols with highest revenueGrowth is LAST in list (for plotting)
# symbols = pickle_load(path_data_dump, 'symbols_52wkHi')
# symbols

In [16]:
df = yf.Ticker("ARLP").history()
df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-08-31,25.49,26.549999,25.010000,26.340000,609200,0,0
2022-09-01,26.01,26.270000,24.820000,24.990000,753200,0,0
2022-09-02,25.35,25.969999,24.809999,25.650000,665800,0,0
2022-09-06,26.17,26.879999,25.629999,26.000000,866200,0,0
2022-09-07,25.60,25.924299,24.870001,25.299999,459944,0,0

In [3]:
# plot symbols
plot_days = '252d'
for symbol in symbols:
  # yf.Ticker OHLC are adjusted correctly
  df = yf.Ticker(symbol).history(period=plot_days)
  df.drop(['Dividends', 'Stock Splits'], axis=1, inplace=True)  # drop Div. and Stock Splits columns
  df.columns = ['open', 'high', 'low', 'close', 'volume']  # rename columns Open ... Volume to open ... volume
  cache_plot = yf_candlestick(symbol, df, plot_chart=True)

In [5]:
df.to_csv('C:/Users/ping/Desktop/A_yf.csv')

In [ ]:
# print symbols data
cache_print = yf_print_symbol_data(symbols)
# reversed_symbols = list(reversed(symbols))
# cache_print = yf_print_symbol_data(reversed_symbols)  # symbols_52wkHi, highest revenueGrowth is FIRST

In [ ]:
df